#top-image {
background:url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg') -25px -50px;
position:fixed ;
top:0;
width:100%;
z-index:-5;
  height:100%;

  background-size: calc(100% + 50px),calc(100% + 50px);
}